.panel{
    box-sizing: border-box;

    width: 26rem;
    height: 33rem;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    margin-top: 30px;    

    background: #FFFFFF;
    border: 5px solid #D4D4D4;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.text1{

    margin-top: 3rem;
    font-size: 23px;
    @import url("static/fonts/Montserrat/fonts/webfonts/Montserrat.css");

    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;

    color: #000000;

    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inputlogin{

    margin-top: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    width: 19rem;
    height: 3rem;

    font-size: 15px;

    background: rgba(217, 217, 217, 0.8);
    border-radius: 10px;
}


.inputPass{
    margin-top: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    width: 19rem;
    height: 3rem;




    background: rgba(217, 217, 217, 0.8);
    border-radius: 10px;
}

.signIn{


    margin-top: 2rem;

    width: 9rem;
    height: 3rem;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    background: rgba(120, 134, 107, 0.8);
    border: 1px solid #A7A5A5;
    border-radius: 10px;
}

.text2{


@import url("static/fonts/Montserrat/fonts/webfonts/Montserrat.css");

    text-align: center;

    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 14px;
    width: 16rem;
    height: 1rem;

    padding: 0 10px;


    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;



}

.selectButton{

    margin-top: 2rem;
    position: relative;
    left: 35%;
    transform: translate(-50%, 0);
    width: 8rem;
    height: 2rem;


    background: #FFFFFF;
    border: 1px solid #A7A5A5;
    border-radius: 10px
}

.create{


    margin-top: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 12rem;
    height: 3rem;


    background: #FFFFFF;
    border: 1px solid #A7A5A5;
    border-radius: 10px;

}
