.avatar{
    width: 12.625rem;
    height: 13.1875rem;
    display: inline;
    position: relative;
    margin-top: -4rem;
    margin-left: 4rem;

    float: left;




}
.clientName{
    position: relative;
    margin-top: 9rem;
    font-size: 1rem;
    margin-left: 17rem;
    width: 199px;
    height: 30px;
    @import url("static/fonts/Montserrat/fonts/webfonts/Montserrat.css");



    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    color: #000000;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;




}
.button{
    position: relative;
    margin-top: 8rem;
    margin-left: -12.5rem;
    margin-right: 12.5rem;



    width: 6.9375rem;
    height: 3.375rem;


    background: rgba(120, 134, 107, 0.8);
    background: #949F8A;
    border-radius: 20px 20px 0px 0px;

@import url("static/fonts/Montserrat/fonts/webfonts/Montserrat.css");

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;


}