.panel{
    box-sizing: border-box;

    width: 545px;
    height: 655px;

    margin: auto;

    margin-top: 30px;

    background: #FFFFFF;
    border: 5px solid #D4D4D4;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.text1{
    margin: auto;

    margin-top: 20px;

@import url("static/fonts/Montserrat/fonts/webfonts/Montserrat.css");

    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;

    color: #000000;
}
.text2{

    margin: auto;

    margin-top: 20px;

    width: 418px;
    height: 68px;

    text-align: center;
}
.input{


    margin-top: 35px;
    margin-left: 45px;

    width: 268px;
    height: 40px;


    background: rgba(217, 217, 217, 0.8);
    border-radius: 10px;
}

.registerBut{

    box-sizing: border-box;


    width: 200px;
    height: 30px;

    margin-top: 55px;

    margin-left: 100px;

    background: rgba(120, 134, 107, 0.8);
    border: 1px solid #A7A5A5;
    border-radius: 10px;
}

.text3{

    margin: auto;

    margin-top: 45px;

    width: 400px;
    height: 48px;

    text-align: center;

}

.create{

    width: 247px;
    height: 57px;
    left: 594px;
    top: 670px;

}